<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Conecta más</title>

    <link href="p/css/bootstrap.min.css" rel="stylesheet">
    <link href="p/css/font-awesome.min.css" rel="stylesheet">
    <link href="p/css/animate.min.css" rel="stylesheet">
    <link href="p/css/owl.carousel.css" rel="stylesheet">
    <link href="p/css/owl.transitions.css" rel="stylesheet">
    <link href="p/css/prettyPhoto.css" rel="stylesheet">
    <link href="p/css/main.css" rel="stylesheet">
    <link href="p/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="p/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="p/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="p/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="p/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="p/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="p/images/logo.png" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Inicio</a></li>
                        <li class="scroll"><a href="#about">Nosotros</a></li>                       
                        <li class="scroll"><a href="#services">Usos</a></li>                        
                        <li class="scroll"><a href="#pricing">Planes</a></li>
                        <li class="scroll"><a href="#get-in-touch">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(p/images/slider/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 ><span>RAPIDO</span>, económico y <span>sencillo.</span> </h2>
                                    <p style="font-size:17px;" >"La forma más sencilla de mantenerte comunicado con tus clientes." </p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(p/images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 style="color:#585858">Una nueva forma de <span>comunicación</span></h2>
                                    <p  style="font-size:17px;color:#585858;">Soluciones dinámicas que se adaptan a tus necesidades.</p>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nosotros</h2>                
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title">Video</h3>

                    <div class="embed-responsive embed-responsive-16by9">                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eTyJ-DSA3Qs" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">Nosotros</h3>
                    <p style="text-align:justify;">Nuestra misión es ayudar a mejorar la productividad de nuestros clientes mediante una comunicación fácil
                    y sencilla, enviando mensajes de texto de forma masiva desde cualquier computadora con acceso a Internet.</p>
                    <p style="text-align:justify;">Un mensaje de texto es tan simple y poderoso que puede comunicar masivamente de forma rapida y de manera
                    personalizada, creando una conexión especial entre usted y el cliente.</p>
                    <p style="text-align:justify;">Somos la herramienta de comunicación perfecta para ti, nuestros usos son tan amplios como :</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i>Publicidad</li>
                                <li><i class="fa fa-check-square"></i>Cobranza</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i>Recordatorios</li>
                                <li><i class="fa fa-check-square"></i>Promociones</li>
                            </ul>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Usos</h2>
                <p class="text-center wow fadeInDown">Experimente la ventaja de los mensajes masivos y personalizados de distintas maneras como:</p>
            </div>
            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">EDUCACIÓN</h4>
                                <p>Avisos</p>
                                <p>Calificaciones</p>
                                <p>Recordatorios de pago</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-glass" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">DIVERSIÓN</h4>
                                <p>Promociones</p>
                                <p>Invitaciones</p>
                                <p>Saludos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">COMERCIO</h4>
                                <p>Cobranzas</p>
                                <p>Ofertas</p>
                                <p>Cupones</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SALUD</h4>
                                <p>Citas</p>
                                <p>Información</p>
                                <p>Alertas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">DEPORTES</h4>
                                <p>Horarios</p>
                                <p>Promociones</p>
                                <p>Concursos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Otros</h4>
                                <p>Campañas</p>
                                <p>Encuestas</p>
                                <p>Comunicación</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Planes</h2>                
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        500 
                                    </span>
                                    <span class="duration">
                                        SMS
                                    </span>
                                </div>
                                <div class="plan-name">
                                    BÁSICO
                                </div>
                            </li>
                            <li>Asesoria permanente</li>                            
                            <li class="plan-purchase"><a class="btn btn-primary" href="#get-in-touch">COMPRAR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                        <ul class="pricing featured">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        3500
                                    </span>
                                    <span class="duration">
                                        SMS
                                    </span>
                                </div>
                                <div class="plan-name">
                                    PROFESIONAL
                                </div>
                            </li>
                            <li>Asesoria permanente</li>                          
                            <li class="plan-purchase"><a class="btn btn-default" href="#get-in-touch">COMPRAR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        8500
                                    </span>
                                    <span class="duration">
                                        SMS
                                    </span>
                                </div>
                                <div class="plan-name">
                                    EMPRESARIAL
                                </div>
                            </li>
                            <li>Asesoria permanente</li>                       
                            <li class="plan-purchase"><a class="btn btn-primary" href="#get-in-touch">COMPRAR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                        <ul class="pricing">
                            <li class="plan-header">
                                <div class="price-duration">
                                    <span class="price">
                                        ILIMITADO
                                    </span>
                                    <span class="duration">
                                        SMS
                                    </span>
                                </div>
                                <div class="plan-name">
                                    ILIMITADO
                                </div>
                            </li>
                            <li><strong>Asesoria permanente</strong></li>                          
                            <li class="plan-purchase"><a class="btn btn-primary" href="#get-in-touch">COMPRAR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-header">
                <p class="text-center wow fadeInDown">
                    *Nuestros paquetes no tienen fecha de expiración.<br>
                    *Tenemos paquetes personalizados. Para mas información, contáctenos.</p>
            </div>
        </div>
    </section>

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nuestros Clientes son los más importante para nosotros !</h2>                
            </div>
        </div>
    </section>

    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="-12.1126731" data-longitude="-77.0012136"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Contactenos</h3>
                            <address>                               
                                Calle Descartes 250 - Of. 202<br>
                                Surquillo LIMA, 51 Lima<br>
                                <abbr title="Phone">P:</abbr> +51 (01) 260 8821 <br />
                                <abbr title="Phone">P:</abbr> +51 998 057 770 <br />
                                ATENCIÓN<br />
                                Lun-Vie 9am - 6pm
                            </address>
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Asunto" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Mensaje" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section>
        @RenderBody()
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                   <p>Conectas Más &copy; 2016 Desarrollado por ITechnology </p>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="http://itechnology.pe/"><i class="fa fa-building"></i> Itech</a></li> 
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>                     
                        <li><a href="https://www.youtube.com/watch?v=eTyJ-DSA3Qs"><i class="fa fa-youtube"></i> Youtube</a></li>                       
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="p/js/jquery.js"></script>
    <script src="p/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="p/js/owl.carousel.min.js"></script>
    <script src="p/js/mousescroll.js"></script>
    <script src="p/js/smoothscroll.js"></script>
    <script src="p/js/jquery.prettyPhoto.js"></script>
    <script src="p/js/jquery.isotope.min.js"></script>
    <script src="p/js/jquery.inview.min.js"></script>
    <script src="p/js/wow.min.js"></script>
    <script src="p/js/main.js"></script>
</body>

</html>