
@{
    ViewBag.Title = "UpLoad";
    Layout = "~/Views/Shared/_contenedor.cshtml";
}
<div ng-app="MyApp" ng-controller="Part8Controller">
    <div class="container">
        <form novalidate name="f1" ng-submit="SaveFile()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Adjuntar archivo plano</h3>
                </div>
                <div class="panel-body">                    
                    <div style="color:red">{{Message}}</div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span>Select File:</span>
                            @*<input type="file" name="file" accept="text/plain" onchange="angular.element(this).scope().SelectedFileForUpload(this.files)"  required ng-file="getThefile($files)" />*@
                            <input type="file" multiple  ng-file="getThefile($files)" />
                            <span class="error" ng-show="(f1.file.$dirty || IsFormSubmitted) && f1.file.$error.required">Image required</span>
                            <span class="error">{{FileInvalidMessage}}</span>
                        </div>                    
                    </div>                                
                </div>
                <ul class="list-group">                 
                    <li class="list-group-item">
                        <span>Mensaje</span>
                        @*<textarea type="text" name="uFileDescription" rows="4" ng-model="FileDescription" class="{{(IsFormSubmitted?'ng-dirty'+(f1.uFileDescription.$invalid?'ng-invalid':''):'')}}"></textarea>*@
                        <textarea type="text" name="uFileDescription" rows="4" ng-model="FileDescription" class="form-control"></textarea>
                        <span>{{200-FileDescription.length}}</span>
                    </li>
                    <li class="list-group-item">
                        <input class="btn btn-primary" type="submit" value="Upload File" />
                    </li>
                </ul>
            </div>
        </form>

    </div>

</div>
@section Scripts{
    <script src="~/Scripts/MyScripts/controllers/Part8Controller.js"></script>
}
